/* fonts */
@font-face {
  font-family: "Barlow-700";
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"),
    url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces 9pt-900";
  src: url("../fonts/Fraunces9pt-Black.woff2") format("woff2"),
    url("../fonts/Fraunces9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow-400";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL styles */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

html {
  height: 100%;
  font-size: 62.5%;
}

/* roots */
:root {
  /* color */
  --primary-color: #0e8784;
  --secondary-color: #333d4b;
  --pale-orange: #fdd6ba;
  --grey: #83888f;

  /* background
     color */
  --Light-Cream-BG: #fefcf7;
  --img-bg-color: #a2a2a2;
  /* btn color */
  --btn-hover: #66d2cf;
  --btn-disabled: #e2dedb;

  /* option color */
  --option-default: #f4f1eb;

  /* font size and line height*/
  --big-size: 15rem;
  --big-line-height: 0.48;

  --h1-size: 7.2rem;
  --h1-line-height: 1;

  --h2-size: 4rem;
  --h2-line-height: 1.2;

  --h3-size: 3.2rem;
  --h3-line-height: 1.12;

  --h4-size: 2.4rem;
  --h4-line-height: 1.33;

  --text-size: 1.6rem;
  --text-line-height: 1.62;

  --navbar-text-size: 1.2rem;
  --navbar-line-height: 1.25;

  --btn-size: 1.8rem;
  --btn-line-height: 1.39;

  /* font family */
  --primary-font-family: "Barlow-400";

  --secondary-font-family: "Fraunces 9pt-900";

  --navbar-font-family: "Barlow-700";
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font-family);
  font-size: var(--text-size);
  line-height: var(--text-line-height);
  color: var(--secondary-color);
  background-color: var(--Light-Cream-BG);
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 100%;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}
main {
  flex-grow: 1;
}

/* header */
.header .container {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.header__logo-link:active {
  opacity: 0.5;
}

.navbar__list {
  display: flex;
  gap: 3.3rem;
}

.navbar__link {
  font-family: var(--navbar-font-family);
  font-size: var(--navbar-text-size);
  line-height: var(--navbar-line-height);
  color: var(--grey);
  letter-spacing: 0.923077px;
  text-transform: uppercase;
}
.navbar__link:hover {
  color: var(--secondary-color);
}
.navbar__link:active {
  opacity: 0.5;
}
/* main */
.main {
}

/* section one */
.hero {
}
.hero__wrapper {
  height: 45rem;
  background-color: var(--img-bg-color);
  background-image: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)), url(../images/png/hero\ bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  margin-bottom: 16.8rem;
}
.hero__wrap {
  width: 44.5rem;
  height: 100%;
  margin-left: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--Light-Cream-BG);
}
.hero__title {
  font-family: var(--secondary-font-family);
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
  margin-bottom: 2.4rem;
}

/* section twoo */
.commitment {
}
.commitment .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52rem;
    gap: 12.5rem;
    margin-bottom: 12rem;
}
.commitment__img {
    border-radius: 1rem;
}
.commitment__definition {
    width: 45rem;
}
.commitment__definition-title {
    font-family: var(--secondary-font-family);
    font-size: var(--h2-size);
    line-height: var(--h2-line-height);
    color: var(--secondary-color);
    margin-bottom: 3.2rem;


}
.commitment__definition-text {
}

/* section three */
.quality {
    margin-bottom: 16.8rem;
   
}
.quality .container {
   

}
.quality__wrap {
    display: flex;
    justify-content: space-between;
    height: 48rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    color: var(--Light-Cream-BG);
    align-items: center;
    position: relative;
}
.quality__definition {
    width: 54rem;
    margin-left: 8.5rem;
}
.quality__definition-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: var(--h2-size);
    line-height: var(--h2-line-height);
    margin-bottom: 3.2rem;
    color: var(--Light-Cream-BG);


}

.quality__wrap img {
    position: absolute;
    top: -70px;
    right: 5rem;
    border-radius: 1rem;
}


/* section foo */
.countrys {
}
.countrys .container {
    display: flex;
    flex-direction: column;
    height: 36.6rem;
    margin-bottom: 16.8rem;
}
.countrys__title {
    font-family:var(--secondary-font-family);
    font-size: var(--h4-size);
    line-height: var(--h4-line-height);
    color: var(--grey);
    margin-bottom: 7.2rem;
    text-align: left;
    margin-left: 8.5rem;
}
.countrys__list-wrapper {
    display: grid;
    grid-template-columns: repeat(3,28rem);
    gap: 10rem;
    margin-left: 8.5rem;
}
.countrys__item {
    margin-bottom: 1rem;
}
.country__item-img {
    margin-bottom: 4.6rem;
}
.countrys__item-title {
    font-family:var(--secondary-font-family);
    font-weight: 900;
    font-size: var(--h3-size);
    line-height: var(--h3-line-height);
    color: var(--secondary-color);
    margin-bottom: 2.4rem;
}
.country__item {
}


/* footer */

.footer .container {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  height: 12rem;
  align-items: center;
}

.footer__list {
  display: flex;
  gap: 3.2rem;
}
.footer__link {
  font-family: var(--navbar-font-family);
  font-size: var(--navbar-text-size);
  line-height: var(--navbar-line-height);
  color: var(--grey);
  letter-spacing: 0.923077px;
  text-transform: uppercase;
}
.footer__link:hover {
  color: var(--Light-Cream-BG);
}
.footer__link:active {
  opacity: 0.7;
}
.footer__icons {
  display: flex;
  gap: 2.4rem;
}

