/* fonts */
@font-face {
    font-family: 'Barlow-700';
    src: url('../fonts/Barlow-Bold.woff2') format('woff2'),
        url('../fonts/Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces 9pt-900';
    src: url('../fonts/Fraunces9pt-Black.woff2') format('woff2'),
        url('../fonts/Fraunces9pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow-400';
    src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
        url('../fonts/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* global styles */
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    font-family: 'Barlow-400';
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;  
    background-color: #fff; 

}
h1,h2,h3,h4 {
    font-weight: 400;
    margin: 0px ;
    padding: 0px;
}
.container {
    width: 100%;
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}
main {
    flex-grow: 1;
}
/* header */
.header {
}
.header .container {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.header__logo-link:active {
    opacity: 0.5;
}
.header__logo {
}
.navbar {
}
.navbar__list {
    display: flex;
    gap: 3.3rem;
}
.navbar__item {
}
.navbar__link {
    font-family: 'Barlow-700';
    font-size: 12px;
    line-height: 15px;
    color: #83888F;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
}
.navbar__link:hover {
    color: #333D4B;
}
.navbar__link:active {
    opacity: 0.5;

}

/* main */
.main {

}


/* section one */
.hero {
}
.container {
}
.hero__wrapper {
    color: #FEFCF7;
    height: 60rem;
    background-image: url(../images/jpg/Bitmap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    margin-bottom: 16.7rem;
    padding-left:8.6rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text__wrap {
    width: 49.3rem;
}
.hero__wrapper-title {
    font-family: 'Fraunces 9pt-900';
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 3.2rem;
    

}
.hero__wrapper-text {
    width: 44.5rem;
    opacity: 0.8;
    mix-blend-mode: normal;
    margin-bottom: 5.6rem;
}
.hero__wrapper-btn {
    font-family: 'Fraunces 9pt-900';
    font-size: 18px;
    padding: 16px 32px;
    color: #FEFCF7;
    line-height: 25px;
    background-color: #66D2CF;
    border-radius: 6px;
}
.hero__wrapper-btn:hover {
    border: 1px dashed green;
    background: transparent;
    color: green;
}
.hero__wrapper-btn:active {
    opacity: 0.7;
}

/* section two */

.our_colection  .container {
    position: relative;
    margin-bottom: 18rem;
}
.our_collection__list {
    height: 53rem;
    display: grid;
    grid-template-columns: repeat(4,25.6rem);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-image: url(../images/png/our\ c\ all.png);
    background-repeat: no-repeat;
    background-position:9.5rem -7rem ;
    
}
.our_collection__item {
    text-align: center;
   
}
.our_collection__img {
    margin-bottom: 7.2rem;
}
.our_collection__title {
    font-family: 'Fraunces 9pt-900';
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin-bottom: 2.4rem;
}
.our_collection__about {
    color: #333D4B;
}

/* section three */
.prodacts {
}
.container {
}
.prodact__wrapper {
    background-color: #333D4B;
    height: 50rem;
    color: #FEFCF7;
    position: relative;
    margin-bottom: 35rem;
    border-radius: 1rem;
   
}
.prodact__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.prodact__title {
    margin-top: 10rem;
    font-family: 'Fraunces 9pt-900';
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 3.2rem;
}
.prodact__text {
    text-align: center;
    width: 54rem;
}
.prodact__list {
    display: grid;
    grid-template-columns: repeat(3,35rem);
    justify-content: center;
    gap: 3rem;
    position: absolute;
    top: 32rem;
    left: 8rem;
}
.prodact__item {
    background-color: #0E8784;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    height: 38.2rem;
}
.prodact__item-img {
    margin-top: 7.2rem;
    margin-bottom: 5.6rem;
}
.img {
    margin-top: 9rem;
}
.prodact__item-title {
    font-family: 'Fraunces 9pt-900';
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 2.4rem;
}
.prodact__item-text {
    text-align: center;
    width: 25.5rem;
    margin-bottom: 4.8rem;

}
/* section fo */
.works {
    margin-bottom: 30rem;
    position: relative;
}

.wrapper__wor {
    height: 56.5rem;
    margin-left:8rem ;
    width: 104.5rem;
  

}

.works__title {
    font-family: 'Fraunces 9pt-900';
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 9.5rem;
    
}
.works__line {
    margin-bottom: 8.2rem;
    
}
.line {
    color: #FDD6BA;
    border: none;
    height: 2px;
    background-color: #FDD6BA;
}
.works__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 9.5rem;
}
.works__item {
}
.works__item-title {
    font-family: 'Fraunces 9pt-900';
    font-size: 72px;
    line-height: 72px;  
    color: #FDD6BA;
    margin-bottom: 3.8rem;
}
.works__item-subtitle {
    font-family: 'Fraunces 9pt-900';
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    width: 25.5rem;
    margin-bottom: 4.2rem;
}
.works__item-text {
    margin-bottom: 6.4rem;
}

.works__btn {
}




/* footer */

.footer .container {
    background-color: #2C343E;;
    display: flex;
    justify-content: space-between;
    height: 12rem;
    align-items: center;
}
.footer__logop-link {
}
.footer__logo-img {
}
.footer__list {
    display: flex;
    gap: 3.2rem;
}
.footer__item {
}
.footer__link {
    font-family: 'Barlow-700';
    font-size: 12px;
    line-height: 15px;
    color: #83888F;
    letter-spacing: 0.923077px;
    text-transform: uppercase;

}
.footer__link:hover {
    color: #fff;
}
.footer__link:active {
    opacity: 0.7;
}
.footer__icons {
    display: flex;
    gap: 2.4rem;
}