/* fonts */
@font-face {
  font-family: "Barlow-700";
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"),
    url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces 9pt-900";
  src: url("../fonts/Fraunces9pt-Black.woff2") format("woff2"),
    url("../fonts/Fraunces9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow-400";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL styles */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

html {
  height: 100%;
  font-size: 62.5%;
}

/* roots */
:root {
  /* color */
  --primary-color: #0e8784;
  --secondary-color: #333d4b;
  --pale-orange: #fdd6ba;
  --Light-Cream-BG: #fefcf7;
  --grey: #83888f;

  /* btn color */
  --btn-hover: #66d2cf;
  --btn-disabled: #e2dedb;

  /* option color */
  --option-default: #f4f1eb;

  /* font size and line height*/
  --big-size: 15rem;
  --big-line-height: 0.48;

  --h1-size: 7.2rem;
  --h1-line-height: 1;

  --h2-size: 4rem;
  --h2-line-height: 1.2;

  --h3-size: 3.2rem;
  --h3-line-height: 1.12;

  --h4-size: 2.4rem;
  --h4-line-height: 1.33;

  --text-size: 1.6rem;
  --text-line-height: 1.62;

  --navbar-text-size: 1.2rem;
  --navbar-line-height: 1.25;

  --btn-size: 1.8rem;
  --btn-line-height: 1.39;

  /* font family */
  --primary-font-family: "Barlow-400";

  --secondary-font-family: "Fraunces 9pt-900";

  --navbar-font-family: "Barlow-700";
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font-family);
  font-size: var(--text-size);
  line-height: var(--text-line-height);
  color: var(--secondary-color);
  background-color: var(--Light-Cream-BG);
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 100%;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}
main {
  flex-grow: 1;
}

/* header */
.header .container {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.header__logo-link:active {
  opacity: 0.5;
}

.navbar__list {
  display: flex;
  gap: 3.3rem;
}

.navbar__link {
  font-family: var(--navbar-font-family);
  font-size: var(--navbar-text-size);
  line-height: var(--navbar-line-height);
  color: var(--grey);
  letter-spacing: 0.923077px;
  text-transform: uppercase;
}
.navbar__link:hover {
  color: var(--secondary-color);
}
.navbar__link:active {
  opacity: 0.5;
}
.header__btn {
  background: transparent;
  border: none;
  display: none;
  width: 16px;
  height: 16px;
}




/* main */
.hero {
  margin-bottom: 13.6rem;
}
.hero__wrapper {
  padding: 11.6rem 8.5rem;
  height: 60rem;
  background-color: var(--secondary-color);
  color: var(--Light-Cream-BG);
  background-image: url(../images/jpg/Bitmap.jpg);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}
.text__wrap {
  width: 49.3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__wrapper-title {
  font-size: var(--h1-size);
  font-family: var(--secondary-font-family);
  line-height: var(--h1-line-height);
  margin-bottom: 3.2rem;
}
.hero__wrapper-text {
  margin-bottom: 5.6rem;
}
.hero__wrapper-btn {
  font-family: var(--secondary-font-family);
  font-size: var(--btn-size);
  line-height: var(--btn-line-height);
  color: var(--Light-Cream-BG);
  padding: 1.5rem 3.1rem;
  background-color: var(--primary-color);
  width: 23rem;
  border-radius: 1rem;
  transition: all 0.3s;
  border: 1px solid var(--primary-color);
  text-align: center;
}
.hero__wrapper-btn:hover {
  border: 1px dashed green;
  background: transparent;
  color: green;
}

.hero__wrapper-btn:active {
  background-color: var(--btn-hover);
}


/* section two */

.our_colection .container {
  margin-bottom: 18rem;
  position: relative;
  margin-bottom: 18rem;
}
.our_collection__list {
  height: 53rem;
  display: grid;
  grid-template-columns: repeat(4, 25.6rem);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-image: url(../images/png/our\ c\ all.png);
  background-repeat: no-repeat;
  background-position: center -7rem;
}
.our_collection__item {
  text-align: center;
}
.our_collection__img {
  margin-bottom: 7.2rem;

}
.our_collection__title {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  line-height: 32px;
  color: var(--secondary-color);
  margin-bottom: 2.4rem;
}
.our_collection__about {
  color: var(--secondary-color);
}

/* section three */

.prodact__wrapper {
  background-color: var(--secondary-color);
  height: 50rem;
  color: var(--Light-Cream-BG);
  margin-bottom: 35rem;
  border-radius: 1rem;
  position: relative;
}
.prodact__about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prodact__title {
  margin-top: 10rem;
  font-family: var(--secondary-font-family);
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
  margin-bottom: 2.4rem;
  
}
.prodact__text {
  text-align: center;
  width: 54rem;
  margin-bottom: 3rem
}
.prodact__list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0px 85px;

  
}
.prodact__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--primary-color);
  padding: 7.2rem 4.8rem 4.8rem;

}
.prodact__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prodact__item-img {
    width: 7.2rem;
    margin-bottom: 5.6rem;

}


.prodact__item-title {
  font-family: var(--secondary-font-family);
  font-size: var(--h4-size);
  line-height: var(--h4-line-height);
  margin-bottom: 2.4rem;
  text-align: center;
  padding: 0px 12px;
}
.prodact__item-text {
    text-align: center;
}




/* section fo */
.works {
  margin-bottom: 30rem;
  position: relative;
}

.wrapper__wor {
  height: 56.5rem;
  margin-left: 8rem;
  width: 104.5rem;
}

.works__title {
  font-family:var(--secondary-font-family);
  font-size: var(--h4-size);
  line-height: var(--h4-line-height);
  color: var(--grey);
  margin-bottom: 9.5rem;
}
.work__line {
  width:83rem;
  height: 5px;
  background-color: var(--pale-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9.5rem;

}
.work__line span{
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  background-color: var(--Light-Cream-BG);
  
  
  
}
.line {
  color: var(--pale-orange);
  border: none;
  height: 2px;
  background-color: var(--pale-orange);
}
.works__list {
  display: flex;
  gap: 9.5rem;
}

.works__item-title {
  font-family: var(--secondary-font-family);
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
  color: var(--pale-orange);
  margin-bottom: 3.8rem;
}
.works__item-subtitle {
  font-family:var(--secondary-font-family);
  font-size: var(--h3-size);
  line-height: var(--h4-line-height);
  color: var(--secondary-color);
  width: 25.5rem;
  margin-bottom: 4.2rem;
}
.works__item-text {
  margin-bottom: 6.4rem;
}

@media (max-width:1230px) {
  .works .container{
    margin: 0px;
    width: auto;
  }
  .wrapper__wor {
    margin: 0px;
  }
  .works__list{
    width: 100%;
    
  }
  .work__line {
    width: 60rem;
  }
  .works__item {
    width: 22.3rem;
  }
 
  
}



/* footer */

.footer .container {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  height: 12rem;
  align-items: center;
}

.footer__list {
  display: flex;
  gap: 3.2rem;
  margin-left: -10.3rem;
}
.footer__link {
  font-family: var(--navbar-font-family);
  font-size: var(--navbar-text-size);
  line-height: var(--navbar-line-height);
  color: var(--grey);
  letter-spacing: 0.923077px;
  text-transform: uppercase;
}
.footer__link:hover {
  color: var(--Light-Cream-BG);
}
.footer__link:active {
  opacity: 0.7;
}
.footer__icons {
  display: flex;
  gap: 2.4rem;
}
.footer__icon:active svg path {
  fill:var(--pale-orange)

}





/* MEDIA'S */
/* header responsive tablet*/

@media (max-width:768px) {
  .container {
    padding: 0px 3.9rem;
  }
}
/* media mobile phone */
@media (max-width:650px) {
  .container {
    padding: 0px 2.4rem;
  }
  .header__btn {
    display: block;
    
  }
  .header__btn img {
   
    position: fixed;
  }
  .hidden {
    display: none;
  }
  .header__logo {
    width: 163px;
    height: 18px;
  }
}

/* main section responsive */
@media (max-width:768px) {
  :root {
    --h1-size: 4.8rem;
  }
  .hero__wrapper {
    height: auto;
    padding: 10.4rem 5.8rem;
    transition: background-image 0.3s;
    background-image: url(../images/jpg/Bitmap.jpg);
    background-position: center,center;
  }
  .text__wrap {
    width: 398px;
  }
}
@media (max-width:650px) {
  :root {
    --h1-size:4rem;
    --btn-size:1.2rem
  }
  .container {
    padding: 0px 2.4rem;
  }
  .text__wrap {
    width: 279px;
  }
  .hero__wrapper {
    padding: 10rem 2.4rem;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/jpg/Bitmap.jpg) ;
  }

}
@media (max-width:300px) {
  :root {
    --h1-size:2.9rem;
  }
  .container {
    padding: 0px 2.4rem;
  }
  .text__wrap {
    width: 200px;
  }
  .hero__wrapper-btn {
  width: 190px;
  padding: 1rem 1.7rem;
  text-align: center;
  }
}
@media (max-width:1213px){

  .our_collection__list {
    height: 100rem;
    margin-bottom: 12rem;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap:  4.752rem 3.6rem;
    background-position: 0px -4rem;
    background-size: 100%;
  }
  .our_collection__wrapper {
    width: 20rem;
    margin: auto;
  }
  .our_collection__img {
    background-size: cover;
    background-position: top 0px center;
    
  }
}
@media (max-width:650px) {
  .container {
    padding: 0px 2.4rem;
  }
  .our_collection__list {
    background-position: 0px 0px;
    align-items: center;
    gap: 4.752rem;
    grid-template-columns: 1fr;
  }
  .our_collection__item {
    gap: 3.6rem;
    display: flex;
  }
  .our_collection__item img {
    margin: 0px;
  }
  
}
@media (max-width:500px) {

  .our_collection__list{
    padding: 20px;
    grid-template-columns: 1fr;
    gap: 4.8rem;
    background-position: center -2rem;
    height: auto;
  }
  .our_collection__item {
    flex-direction: column;
  }
}
@media (max-width:870px) {
  :root{
    --h2-size:3.2rem
  }
  .prodacts .container {
    height: 130rem;
  }
  .container {
    padding: 0px 3.9rem;
  }
  .prodact__wrapper {
    height: 90rem;
    margin: 0px;
  }
  .prodact__text {
    width: 54rem;
  }
 
  .prodact__list {
    flex-direction: column;
    justify-content: center;
    padding: 0px 5.7rem;
  }
  .prodact__item {
    display: flex;
    flex-direction: row;
    gap: 3rem;
   
  }

  .prodact__item-wrapper {
    width: 54rem;      
  }
  .prodact__item-title {
    text-align: left;
  }
  .prodact__item-text {
    text-align: left;
  }

 
}
@media (max-width:680px)  {
  :root {
    --h4-size:2rem;

  }
  .prodacts .container {
      height: 190rem;
      margin: 0px;
      margin-bottom: 22rem;
    

  }
  .container {
    padding: 0px 2.4rem;
  }
  .prodact__text {
    width: 27.9rem;
  }
  .prodact__list {
    width: 100%;
    grid-template-columns: 1fr;
    background-size: 100%;
    margin-bottom: 12rem;
  }
  .prodact__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .prodact__item-wrapper {
    text-align: center;  
     
  }
  .prodact__item-title {
    text-align: center;
  }
  .prodact__item-text {
    text-align: center;
    width:21.2rem;
  }
}

@media (max-width:360px) {
  
  .prodact__item-text {
    width: 180px;
  }

} 
@media (max-width:980px) {
  .works__list {
    gap: 5rem;
  }
}
@media (max-width:860px) {
  .works__list {
    gap: 1.5rem;
  }
  @media (max-width:780px) {
    .container {
      padding: 0px 3.9rem;
    }
    .wrapper__wor {
      width: 644px;
      height: auto;
    }
    .works__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .works__list {
      flex-direction: column;
      width: 76.7rem; 
      justify-content: center;
      align-items: center;
    }
    .works__item {
      width: 50rem;
      text-align: center;
    }
    .work__line {
      display: none;
    }
  }

}
@media (max-width:620px) {
  .container {
    padding: 0px 3.9rem;
  }
  .wrapper__wor {
    width: 540px;
    height: auto;
  }
  .works__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .works__list {
    flex-direction: column;
    width: 32.7rem; 
    justify-content: center;
    align-items: center;
  }
  .works__item {
    width: 30rem;
    text-align: center;
  }
  .work__line {
    display: none;
  }

}


@media (max-width:500px) {
  .container {
    padding: 0px 3.9rem;
  }
  .wrapper__wor {
    width: 327px;
    height: auto;
  }
  .works__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .works__list {
    flex-direction: column;
    width: 32.7rem; 
    justify-content: center;
    align-items: center;
  }
  .works__item {
    width: 30rem;
    text-align: center;
  }
  .work__line {
    display: none;
  }

}


@media (max-width:380px) {
  .container {
    padding: 0px 3.9rem;
  }
  .wrapper__wor {
    width: 327px;
    height: auto;
  }
  .works__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .works__list {
    flex-direction: column;
    width: 32.7rem; 
    justify-content: center;
    align-items: center;
  }
  .works__item {
    width: 30rem;
    text-align: center;
  }
  .work__line {
    display: none;
  }

}

 










@media (max-width:1000px) {
  .footer .container {
    height: 27rem;
    padding: 150px;
    width: 100%;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
  }
  .footer__list {
    margin: 0px;
    margin-top: 35px;
    margin-bottom: 65px;
  }

}
@media (max-width:680px){
  .container {
    padding: 0px 2.4rem;
  }
  .footer {
    width: 100%;
  }
  .footer .container {
    height: 34.6rem;
    padding: 200px;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
  }
  .footer__list {
    width: 200px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0px;
    margin:50px 0px;
  }

}